body {
  background-color: #fbf7f0;
  font-family: cursive;
  ;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: Orange;
  border-width: 7px;
  width: 5%;
}

h1 {

  font-style: oblique;

}

h3 {
  font-style: oblique;
  font-stretch: expanded;
  font-family: cursive;
  color: #e7305b;
}

table {
  border-color: green;
  border-style: dashed;
}

a {
  font-style: italic;
  font-size: 20px;
}

p {
  font-style: italic;
  font-size: 25px;
}

input {
  cursor: col-resize;
  border-style: solid;
}
